spring:
  datasource:
    url: jdbc:h2:file:./data/studentdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always

server:
  port: 8080

app:
  jwt:
    secret: "A_LONG_RANDOM_SECRET_FOR_STUDENT_MANAGEMENT_APPLICATION_BLAH_BLAH_BLAH"
    expiration-ms: 3600000 # 1 hour

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
